.file-upload-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

.file-upload-wrapper:hover {
    background-color: #0056b3;
}

.file-upload-wrapper input[type="file"] {
    width: 100%;
    height:100%;
    cursor: pointer;
    opacity: 0;
}

.file-upload-wrapper label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    pointer-events: none;
}
.container{
    width: 70%;
}

.image{
    width: 50%;
    height: 150px;
}
.row{
    margin-top: 2%;
}
.image img {
    width: 100%;
    height: 110px; /* Điều chỉnh chiều cao tùy ý */
    object-fit: cover;
}
.row{
    margin-top: 5%;
}
.image{
    width: 50%;
}