.body{
    width: 100%;
}

.between{
    width: 100%;
}
.left{
    width: 20%;
}
.container{
    width: 60%;
}
.right{
    width: 20%;
}
.containerSearch{
    margin-left: 14%;
    
}


.container {
    margin-top: 3%;
}
.container_top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.a{
    display: flex;
    flex-wrap:wrap ;
    justify-content: flex-start;
    align-content: space-between;
}